main {
    flex: 1; /*quero que o men ocupe todo o espaço dele */
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /*distanciar as ul*/
    list-style: none;
}

@media (max-width: 650px){
    main ul {
        grid-template-columns: 1fr;
    }
}